<section class="my-2 container ">
    <div class="row">
        <div class="col-md-12">
            <h3>Payment Details</h3>
            <br>
            <table  width="50%">
                <thead>
                    <tr>
                        <th scope="col">Techonolgy</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Tax</th>
                        <th scope="col">Fees</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let i of paymentSuccess">
                        <td scope="row">{{i.skillName}}</td>
                        <td>Success</td>
                        <td>Rs. 500(inclusice)</td>
                        <td>Rs. {{i.fees}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>